
body {
    background: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
}


.card {
    background: #1f1f1f;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}


.name {
    font-size: 1.5rem;
    margin: 10px 0;
}


.location {
    color: #a3d900; 
    margin-bottom: 15px;
}


.description {
    font-style: italic;
    font-size: 0.9rem;
    margin-bottom: 25px;
}


.buttons .btn {
    display: block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 12px;
    transition: background-color 0.3s;
}


.buttons .btn:hover {
    background: #444;
}
